body {
    background-color: rgb(89, 89, 103);
}
h1, h2{
    text-align: center;
    border: white;
    text-emphasis-color: magenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    /*text-align: center;*/
    
}
h2 {
   /*width: 300px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 250%;
    display: flex;
    flex-direction: center;*/
}
  
  h3 {
    width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px dotted rgb(255, 255, 255);
  }
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

#short-description {
    text-align: center;
    

}

#flexbox {
    font-size: 250%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap:wrap;
    border: 1px solid rgb(255, 255, 255);

}

h3 {
    /*font-size: 100%;
    color: var(--heading);
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap:wrap;*/
}
